{{#link-to 'restaurant' restaurant.id}}
{{restaurant-popularity restaurant}}
<div class="g-thumbnail">
  <img src="{{restaurant.image}}" alt="{{restaurant.restaurantName}}"/>
  <div class="g-title">
    <h3>{{restaurant.restaurantName}}</h3>
  </div>
</div>
{{/link-to}}
