body{
  font-family: sans-serif;
  background: $canary;
  color: $black;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

h1{
  font-family: 'Marcellus', serif;
  font-size: 2.2em;
  font-weight: normal;
  border-bottom: 1px solid $black;
}
h3{
  margin: 20px;
  font-family: 'Marcellus', serif;
  flex-grow: 1;
  font-weight: normal;
  color: $white;
}

img{
  width: 200px;
}

a{
  text-decoration: none;
  color: $salmon;
  &:hover{
    color: $persian-green;
  }
}
button{
  border: none;
  padding: 10px;
  background: $salmon;
  color: $white;
}
