body{
  font-family: sans-serif;
  background: $canary;
  color: $black;
}

img{
  width: 200px;
}

a{
  text-decoration: none;
  color: $salmon;
  &:hover{
    color: $persian-green;
  }
}

.fa-home{
  font-size: 40px;
  flex-grow: 2;
}
