.main-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.container-body{
  align-self: flex-start;
  flex-grow: 2;
  padding: 0 50px;
}

.m-gallery{
  display: flex;
  flex-flow: row wrap;
  li{
    list-style: none;
    margin: 10px;
  }
}


.g-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba($black, 0.5);
  color: $white;
  cursor: pointer;
}
