.main-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.container-body{
  align-self: flex-start;
  flex-grow: 2;
  padding: 0 50px;
  border: 1px solid red;
}

.m-gallery{
  border: 1px solid blue;
  display: flex;
  flex-flow: row wrap;
  li{
    list-style: none;
    margin: 10px;
  }
}

.g-title{
  position: absolute;
}
