.main-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.container-body{
  background: $caper;
  align-self: flex-start;
  flex-grow: 2;
  padding: 0 50px;
  max-width: 250px;
}
