.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $de-york;
  height: 50px;
  width: 100%;
}
.nav__favorites{
  display: inline;
}
.fav-count{
  border: 1px solid red;
  width: 10px;
}
