<div class="main-container">
  <div class="nav-bar">
    <h3>Snack &amp; Scoff</h3>
    {{#link-to 'index'}}<i class="fa fa-home" aria-hidden="true"></i>{{/link-to}}
    <div class="admin-link">
       {{#link-to 'admin'}}Admin{{/link-to}}
    </div>
  </div>

  <div class="container-body">
    {{outlet}}
  </div>

  <div class="footer">
    The MIT License (MIT)<br>
    Copyright &copy; 2016 Riley Starnes
  </div>
</div>
