<div class="main-container">
  <div class="nav-bar">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'admin'}}Admin{{/link-to}}
    {{#link-to 'favorites'}}My Favorites{{/link-to}}
  </div>

  <div class="container-body">
    {{outlet}}
  </div>

  <div class="footer">
    The MIT License (MIT)<br>
    Copyright &copy; 2016 Riley Starnes
  </div>
</div>
