<h1>Snack &amp; Scoff</h1>

<div class="m-gallery">
  {{#each model as |restaurant|}}
  <li>{{restaurant-tile restaurant=restaurant}}</li>
  {{/each}}
</div>

<div class="favorites-link">
  {{#link-to 'favorites'}}{{fav-count}}{{/link-to}}
</div>
