<h1>Snack &amp; Scoff</h1>

{{#each model as |restaurant|}}
   <li>{{restaurant-tile restaurant=restaurant}}</li>
{{/each}}

<div class="favorites-link">
  {{#link-to 'favorites'}}{{fav-count}}{{/link-to}}
</div>
